@font-face {
    font-family: 'NoonnuBasicGothicRegular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NoonnuBasicGothicRegular';
}

.s1,
.s2,
.s4 {
    width: 1000px;
    margin: 0 auto;
    border: 2px solid rgb(114, 145, 180);
    border-radius: 20px;
    text-align: center;
}